* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   font-size: 18px;
}
body {
    background:#777;
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 960px;
}

header, nav {
    background:#ebebeb;
    height: 75px;
}

section {
    position: relative;
}

#section {
    background:#ebebeb;
    margin-top: 10px;
    height: 250px;
    width: 495px;
    padding: 10px 10px 5px 10px;
    float: left;
}

#article {
    background: grey;
    height: 184px;
    padding: 5px 5px 5px 5px;

}

.content {
    background: #ebebeb;
    height: 50px;
}

#aside {
    position: absolute;
    right: 0;
    background: #ebebeb;
    height: 265px;
    width: 435px;
    margin-top: 10px;
}

footer {
    background: #ebebeb;
    height: 75px;
    margin-top: 288px;
}

p {
   color: grey;
   font-size: 18px;
}